apiVersion: v1
kind: ConfigMap
metadata:
  name: disable-ssh
data:
  disable-ssl.cnf: |
    [client]
    ssl-mode=DISABLED
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.namespace }}
      role: {{ .Values.name }}
  serviceName: {{ .Values.name }}
  replicas: 1
  volumeClaimTemplates:
    - metadata:
        name: storage
        namespace: {{ .Values.namespace }}
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.database_size }}
        selector:
          matchLabels:
            volume-name: {{ .Values.namespace }}-{{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.namespace }}
        role: {{ .Values.name }}
    spec:
      nodeSelector:
        mail-server: "true"
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: {{ .Values.name }}
          image: mariadb:10.5.4
          imagePullPolicy: Always
          readinessProbe:
            tcpSocket:
              port: {{ .Values.port }}
            initialDelaySeconds: 60
            periodSeconds: 60
          livenessProbe:
            tcpSocket:
              port: {{ .Values.port }}
            initialDelaySeconds: 60
            periodSeconds: 60
          env:
            - name: "MARIADB_SKIP_TLS"
              value: "1"
            - name: "MYSQL_HOSTNAME"
              valueFrom:
                configMapKeyRef:
                  name: database-common
                  key: DATABASE_HOSTNAME
            - name: "MYSQL_PORT"
              valueFrom:
                configMapKeyRef:
                  name: database-common
                  key: DATABASE_PORT
            - name: "MYSQL_ROOT_PASSWORD"
              valueFrom:
                configMapKeyRef:
                  name: database-root
                  key: DATABASE_PASSWORD
            - name: "MYSQL_DATABASE"
              valueFrom:
                configMapKeyRef:
                  name: database-common
                  key: DATABASE_NAME
            - name: "MYSQL_ENCODING"
              valueFrom:
                configMapKeyRef:
                  name: database-common
                  key: DATABASE_ENCODING
          volumeMounts:
            - name: storage
              mountPath: /var/lib/mysql
            - name: disable-ssh
              mountPath: /etc/mysql/conf.d/disable-ssl.cnf
              subPath: disable-ssl.cnf
          ports:
          - name: {{ .Values.name }}
            containerPort: {{ .Values.port }}
            protocol: TCP
      volumes:
        - name: disable-ssh
          configMap:
            name: disable-ssh
---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Values.namespace }}
    role: {{ .Values.name }}
  ports:
  - name: {{ .Values.name }}
    port: {{ .Values.port }}
    targetPort: {{ .Values.port }}
